{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 98,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 200
      }
    }
  ],
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}